<!DOCTYPE html>
<html lang="en" class="h-100">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        <title>Emo Track</title>

        <link rel="canonical" href="https://getbootstrap.com/docs/5.0/examples/cover/">
        <!-- Bootstrap CSS -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        <!-- Custom styles for this template -->
        <link rel="stylesheet" type="text/css" href="/css/mystyle.css">
    </head>

    <body class="d-flex text-center text-white emo-bg">
        <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">

            <%-  include('topbar.ejs') %>

            <main class="px-3">
                <h2 class="mb-2">Contact Us</h2>
                <container>
                    <section class="gradient-custom" style="border-radius: 15px;">
                        <div class="d-flex align-items-center h-100">
                            <div class="container py-5 h-100">
                                <div class="row justify-content-center align-items-center h-100">
                                    <div class="col-12 col-md-9 col-lg-7 col-xl-6">
                                        <div class="card" style="border-radius: 15px;">
                                            <div class="card-body p-5">
                                                <form id="contactForm" method="post" action="/contact" class="text-dark text-start">
                                                    <!-- Name input -->
                                                    <div class="mb-3">
                                                        <label class="form-label" for="name">Name</label>
                                                        <input class="form-control" id="name" type="text" name="name" placeholder="Name" pattern="[\w\s]+" required/>
                                                            <% if(errors && errors.name) { %>
                                                            <span class="text-danger"><%= errors.name.msg %></span>
                                                            <% } %>
                                                    </div>
                                                    <!-- Email address input -->
                                                    <div class="mb-3">
                                                        <label class="form-label" for="emailAddress">Email Address</label>
                                                        <input class="form-control" id="emailAddress" type="email" name="email" placeholder="Email Address" pattern="[\w]+[@]{1}[\w]+[.]{1}[\w.]+" required/>
                                                            <% if (errors && errors.email) { %>
                                                            <span class="text-danger"><%= errors.email.msg %></span>
                                                            <% } %>
                                                    </div>
                                                    <!-- Message input -->
                                                    <div class="mb-3">
                                                        <label class="form-label" for="message">Message</label>
                                                        <textarea class="form-control" id="message" type="text" name="message" placeholder="Message" style="height: 10rem;" pattern="[\w\s]+" required></textarea>
                                                            <% if(errors && errors.message) { %>
                                                            <span class="text-danger"><%= errors.message.msg %></span>
                                                            <% } %>
                                                    </div>
                                                    <!-- Form submit button -->
                                                    <div class="d-grid">
                                                        <button class="btn btn-info btn-lg" type="submit">Submit</button>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </container>
            </main>

            <%-  include('footer.ejs') %>

            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
        </div>
    </body>
</html>