<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Emo Tracker</title>
    <!-- UIkit CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.17.11/dist/css/uikit.min.css" />
    <!-- UIkit JS -->
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.17.11/dist/js/uikit.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.17.11/dist/js/uikit-icons.min.js"></script>
</head>

    <body>
        <div class="uk-section">
            <div class="uk-container">

                <nav class="uk-navbar-container uk-navbar-transparent" uk-navbar>

                    <div class="uk-navbar-left">
                        <img src="/imgs/emotion.png">

                        <ul class="uk-navbar-nav">
                            <li class="uk-active"><a href="/">Snapshots</a></li>
                        </ul>
                    </div> 

                </nav>

            </div>
        </div>

        <% defaultTriggers.forEach((row) => { %>
                <% row.default_trigger_name %>
        <% }); %> 

        <% for (let row of snapshot) { %>
            <% var snapshotid = row.emotional_snapshot_id; %>

            <% var snapshotdate = row.created_ts; %>
            <% var inputdate = new Date(snapshotdate); %>
            <% const year = inputdate.getFullYear(); %>
            <% const month = (inputdate.getMonth() + 1).toString().padStart(2, "0"); %>
            <% const day = inputdate.getDate().toString().padStart(2, "0"); %>
            <% var formattedDate = `${year}-${month}-${day}`; %>

            <% var snapshotenjoyment = row.enjoyment_level; %>

            <% var snapshotsadness = row.sadness_level; %>

            <% var snapshotanger = row.anger_level; %>

            <% var snapshotcontempt = row.contempt_level; %>

            <% var snapshotdisgust = row.disgust_level; %>

            <% var snapshotfear = row.fear_level; %>

            <% var snapshotsurprise = row.surprise_level; %>

            <!-- <% row.default_trigger_ids.forEach((triggerSelected) => { %>
                <li><%= triggerSelected %></li>
            <% }); %> -->

            <% var snapshotnotes = row.notes; %>

            <% var snapshotupdatedate = row.modified_ts; %>
            <% var inputupdatedate = new Date(snapshotupdatedate); %>
            <% const updateyear = inputupdatedate.getFullYear(); %>
            <% const updatemonth = (inputupdatedate.getMonth() + 1).toString().padStart(2, "0"); %>
            <% const updateday = inputupdatedate.getDate().toString().padStart(2, "0"); %>
            <% var formattedupdateDate = `${updateyear}-${updatemonth}-${updateday}`; %>
       
        <div class="uk-section uk-background-muted">
            <div class="uk-container">

                <form method="post" action="/user/<%= userid%>/edit/<%= snapshotid %>" class="uk-grid-small" uk-grid>
                <div class="uk-width-1-6@s">Enjoyment Level
                        <input class="uk-input" name="snapshot_enjoyment" type="text" value="<%= snapshotenjoyment %>" required readonly>
                    </div>
                    <div class="uk-width-1-6@s">Sadness Level
                        <input class="uk-input" name="snapshot_sadness" type="text" value="<%= snapshotsadness %>" required  readonly>
                    </div>
                    <div class="uk-width-1-6@s">Anger Level
                        <input class="uk-input" name="snapshot_anger" type="text" value="<%= snapshotanger %>" required readonly>
                    </div>
                    <div class="uk-width-1-6@s">Contempt Level
                        <input class="uk-input" name="snapshot_contempt" type="text" value="<%= snapshotcontempt %>" required  readonly>
                    </div>
                    <div class="uk-width-1-6@s">Disgust Level
                        <input class="uk-input" name="snapshot_disgust" type="text" value="<%= snapshotdisgust %>" required readonly>
                    </div>
                     <div class="uk-width-1-6@s">Fear Level
                        <input class="uk-input" name="snapshot_fear" type="text" value="<%= snapshotfear %>" required readonly>
                    </div>
                    <div class="uk-width-1-6@s">Surprise Level
                        <input class="uk-input" name="snapshot_surprise" type="text" value="<%= snapshotsurprise %>" required readonly>
                    </div>
                
                    <div class="uk-width-2-4" id="root" type="text" >Common Trigger

                         <% for (let trigger of defaultTriggers) { %>
                            <input type="checkbox" id="trigger_<%= trigger.default_trigger_id %>" name="snapshot_trigger_ids" value=<%=trigger.default_trigger_id %> <%= row.default_trigger_ids.includes(trigger.default_trigger_id) ? 'checked' : '' %> >
                            <label for="trigger_<%= trigger.default_trigger_id %>"><%= trigger.default_trigger_name %> </label><br>

                         <% }%>
 <% } %>
                       <!-- <form>
                            <label>Select Common Triggers that apply:</label><br>
                            <script>
                            <input type="hidden" multiple=""
                            defaulttriggers.forEach(row) => { 
                                
                                const id = `row-${row.default_trigger_id}`;
                                const label = document.createElement('label');
                                label.setAttribute("for", id);

                                const checkbox = document.createElement('input');
                                checkbox.type = "checkbox";
                                checkbox.name = "row.default_trigger_name";
                                checkbox.value = row.default_trigger_name;
                                checkbox.id = id;

                                label.appendChild(checkbox);
                                label.appendChild(document.createTextNode(row.default_trigger_name))
                                document.querySelector("#root").appendChild(label)
;                                }
                            </script>

                        <input type="checkbox" name="defaulttrigger" value="default_trigger_id">Exercise<br>
                            <input type="checkbox" name="defaulttrigger" value="default_trigger_id">Sleep<br>
                            <input type="checkbox" name="defaulttrigger" value="default_trigger_id">Healthy Food<br>

                            <% defaultTriggers.forEach((row) => { %>
                                        <% row.default_trigger_name %>
                            <% }); %> 

                        --->
                        <!-- </form> -->
                    </div>
                    
                    <!--<script> 
                    window.onload = function(){
                        var defaulttriggers = defaulttriggers;

                        document.getElementById("defaulttriggers2").innerHTML = defaulttriggers;

                                                defaulttriggers.forEach((defaulttrigger)=>{
                            const id = 'defaulttrigger-${defaulttrigger}';

                            //create label
                            const label = document.createElement('label');
                            label.setAttribute("for", id);

                            const checkbox = document.createElement('input');
                            checkbox.type = "checkbox";
                            checkbox.name = "defaulttrigger";
                            checkbox.value = defaulttrigger.default_trigger_name;
                            checkbox.id = defaulttriggers.default_trigger_id;

                            label.appendChild(checkbox);

                            label.appendChild(document.createTextNode(defaulttrigger));
                            document.querySelector("#root").appendChild(label);
                        });
                    }
                    </script>
                -->


                <!--KEEP FOR API-->
                      <!-- <% defaultTriggers.forEach((row) => { %>
                        <% row.default_trigger_name %>
                    <% }); %> 
                    <script>
                        //const defaulttriggers=JSON.parse(document.getElementById('defaulttriggers').dataset.json);
                        //const defaulttriggers = ["Comfort Food", "Family", "Exercise" ];
                        //const defaulttriggers =  $('#$root').value();
                        const defaulttriggers =  defaultTriggers ;
                        console.log(defaulttriggers);

                        defaulttriggers.forEach((defaulttrigger)=>{
                            const id = 'defaulttrigger-${defaulttrigger}';

                            //create label
                            const label = document.createElement('label');
                            label.setAttribute("for", id);

                            const checkbox = document.createElement('input');
                            checkbox.type = "checkbox";
                            checkbox.name = "defaulttrigger";
                            checkbox.value = defaulttrigger.default_trigger_name;
                            checkbox.id = defaulttriggers.default_trigger_id;

                            label.appendChild(checkbox);

                            label.appendChild(document.createTextNode(defaulttrigger));
                            document.querySelector("#root").appendChild(label);
                        });
                    </script> -->

                    <div class="uk-width-2-6@s">Notes
                        <input class="uk-input" name="snapshot_notes" type="text" value="<%= snapshotnotes %>" >
                    </div>



                    <div class="uk-width-auto">
                        <div uk-form-custom>
                            <button class="uk-button uk-button-secondary uk-button-large">Update</button>
                        </div>
                            <div uk-form-custom>
                                <button class="uk-button uk-button-danger uk-button-large" formaction="/del/<%= snapshotid %>">Delete</button>
                            </div>
                    </div>

                </form>

            </div>
        </div>

    </body>
</html>