<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Emo Tracker</title>
    <!-- UIkit CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.17.11/dist/css/uikit.min.css" />
    <!-- UIkit JS -->
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.17.11/dist/js/uikit.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.17.11/dist/js/uikit-icons.min.js"></script>
</head>

    <body>
        <div class="uk-section">
            <div class="uk-container">

                <nav class="uk-navbar-container uk-navbar-transparent" uk-navbar>

                    <div class="uk-navbar-left">
                        <img src="/imgs/emotion.png">

                        <ul class="uk-navbar-nav">
                            <li class="uk-active"><a href="/">Snapshots</a></li>
                        </ul>
                    </div> 

                </nav>

            </div>
        </div>

        <% const dateformat = { weekday: 'long', year: 'numeric', month: 'long', day: 'numeric' }; %>

        <% defaultTriggers.forEach((row) => { %>
                <% row.default_trigger_name %>
        <% }); %> 

        <% for (let row of snapshot) { %>
            <% if (row) { %>
                <% var snapshotid = row.emotional_snapshot_id; %>

                <% var snapshotdate = row.created_ts; %>
                <% if (snapshotdate) { %>
                    <% var inputdate = new Date(snapshotdate); %>
                    <% const year = inputdate.getFullYear(); %>
                    <% const month = (inputdate.getMonth() + 1).toString().padStart(2, "0"); %>
                    <% const day = inputdate.getDate().toString().padStart(2, "0"); %>
                    <% formattedDate = `${day}-${month}-${year}`; %>
                <% } %>
       
                <% if (row.enjoyment_level) { %>
                    <% var snapshotenjoyment = row.enjoyment_level ; %>
                <% } %>

                <% if (row.sadness_level) { %>
                    <% var snapshotsadness = row.sadness_level; %>
                <% } %>

                <% if (row.anger_level) { %>
                    <% var snapshotanger = row.anger_level; %>
                <% } %>

                <% if (row.contempt_level) { %>
                    <% var snapshotcontempt = row.contempt_level; %>
                <% } %>

                <% if (row.disgust_level) { %>
                    <% var snapshotdisgust = row.disgust_level; %>
                <% } %>

                <% if (row.fear_level) { %>
                    <% var snapshotfear = row.fear_level; %>
                <% } %>

                <% if (row.surprise_level) { %>
                    <% var snapshotsurprise = row.surprise_level; %>
                <% } %>

                <% if (row.notes) { %>
                    <% var snapshotnotes = row.notes; %>
                <% } %>

                <% if (row.modified_ts) { %>
                    <% var snapshotupdatedate = row.modified_ts; %>
                        <% if (snapshotupdatedate) { %>
                        <% var inputupdatedate = new Date(snapshotupdatedate); %>
                        <% const updateyear = inputupdatedate.getFullYear(); %>
                        <% const updatemonth = (inputupdatedate.getMonth() + 1).toString().padStart(2, "0"); %>
                        <% const updateday = inputupdatedate.getDate().toString().padStart(2, "0"); %>
                        <% var formattedupdateDate = `${updateday}-${updatemonth}-${updateyear}`; %>
                    <% } %>
                <% } %>

                <div class="uk-section uk-background-muted">
            <div class="uk-container">

                <form method="post" action="/user/<%= userid%>/edit/<%= snapshotid %>" class="uk-grid-small" uk-grid>
               
                <div class="uk-width-2-6@s"> Date Snapshot Created: 
                    <input class="uk-input" name="snapshot_date" type="text" value="<%= formattedDate %>" readonly>
                </div>

                <div class="uk-width-1-6@s">Enjoyment Level
                        <input class="uk-input" name="snapshot_enjoyment" type="text" value="<%= snapshotenjoyment %>" readonly>
                    </div>
                    <div class="uk-width-1-6@s">Sadness Level
                        <input class="uk-input" name="snapshot_sadness" type="text" value="<%= snapshotsadness %>" readonly>
                    </div>
                    <div class="uk-width-1-6@s">Anger Level
                        <input class="uk-input" name="snapshot_anger" type="text" value="<%= snapshotanger %>" readonly>
                    </div>
                    <div class="uk-width-1-6@s">Contempt Level
                        <input class="uk-input" name="snapshot_contempt" type="text" value="<%= snapshotcontempt %>"  readonly>
                    </div>
                    <div class="uk-width-1-6@s">Disgust Level
                        <input class="uk-input" name="snapshot_disgust" type="text" value="<%= snapshotdisgust %>"  readonly>
                    </div>
                     <div class="uk-width-1-6@s">Fear Level
                        <input class="uk-input" name="snapshot_fear" type="text" value="<%= snapshotfear %>" readonly>
                    </div>
                    <div class="uk-width-1-6@s">Surprise Level
                        <input class="uk-input" name="snapshot_surprise" type="text" value="<%= snapshotsurprise %>" readonly>
                    </div>
                
                    <div class="uk-width-2-4" id="root" type="text" >Common Triggers (select all that apply):

                         <% for (let trigger of defaultTriggers) { %>
                            <input type="checkbox" id="trigger_<%= trigger.default_trigger_id %>" name="snapshot_trigger_ids" value="<%= trigger.default_trigger_id %>" <% if (row.default_trigger_ids && row.default_trigger_ids.includes(trigger.default_trigger_id)) { %>checked<% } %> >
                            <label for="trigger_<%= trigger.default_trigger_id %>"><%= trigger.default_trigger_name %> </label><br>

                         <% }%>

                    </div>


                    <div class="uk-width-2-6@s">Notes
                        <input class="uk-input" name="snapshot_notes" type="text" value="<%= snapshotnotes %>" >
                    </div>

                    <div class="uk-width-2-6@s"> Last Updated: 
                        <input class="uk-input" name="snapshot_date" type="text" value="<%= formattedupdateDate %>" readonly>
                    </div>
                    <% } %>
                    <% } %> 


                    <div class="uk-width-auto">
                        <div uk-form-custom>
                            <button class="uk-button uk-button-secondary uk-button-large">Update</button>
                        </div>
                            <div uk-form-custom>
                                <form id="deleteForm" method="POST" action="/user/<%= userid %>/del/<%= snapshotid %>">
                                    <button type="button" class="uk-button uk-button-danger uk-button-large" onclick="deleteSnapshot()">Delete</button>
                                </form>
                            </div>
                        </div>
                    <script>
                        function deleteSnapshot() {
                            if (confirm("Are you sure you want to delete this Snapshot?")) {
                                var form = document.getElementById("deleteForm");
                                form.method = "DELETE";
                                form.submit();
                            }
                        }
                    </script>

                </form>

            </div>
        </div>

    </body>
</html>