<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Emo Track</title>
    <!-- UIkit CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.17.11/dist/css/uikit.min.css" />
    <!-- UIkit JS -->
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.17.11/dist/js/uikit.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.17.11/dist/js/uikit-icons.min.js"></script>
</head>

    <body>
        <div class="uk-section">
            <div class="uk-container">

                <nav class="uk-navbar-container uk-navbar-transparent" uk-navbar>

                    <div class="uk-navbar-left">
                        <img src="/imgs/smiley.png">

                        <ul class="uk-navbar-nav">
                            <li class="uk-active"><a href="/">Snapshots</a></li>
                            <% if (loggedin) { %>
                                <li class="uk-parent"><a href="/new">Add</a></li>
                           <% } %>
                        </ul>
                    </div> 
                    <% if (!loggedin) { %>
                        <div class="uk-navbar-right"></div>
                            <ul class="uk-navbar-nav">
                                <li class="uk-active"><a href="/login">Login</a></li>
                            </ul>
                        </div> 
                    <% } else { %>
                        <div class="uk-navbar-right"></div>
                            <ul class="uk-navbar-nav">
                                <li class="uk-active"><a href="/logout">Logout</a></li>
                            </ul>
                        </div> 
                    <% } %>
        
                </nav>

            </div>
        </div>


        <div class="uk-section uk-background-muted">
            <div class="uk-container">

                <% if (loggedin) { %>
                    <h2 class="uk-heading-small uk-text-left"><%= `${user.name}'s Snapshots `%></h2>
                <% } else { %>
                    <h2 class="uk-heading-small uk-text-left">My Snapshots</h2>
                <% } %>
                
                <div class="uk-child-width-1-2@s uk-grid-match" uk-grid>
                    <% const dateformat = { weekday: 'long', year: 'numeric', month: 'long', day: 'numeric' }; %>
                    <% snapshot.forEach((row) => { %>
                    <%  var snapshotid = row.emotional_snapshot_id; %>
                    <% if (loggedin) { %> 
                        <div>
                            <a href='/edit/<%= snapshotid %>' class='uk-display-block uk-card uk-card-body uk-card-default uk-link-toggle'>
                                <%  var rawdate = new Date(row.created_ts); %>
                                <%  var itemdate = new Intl.DateTimeFormat('en-GB', 
                                    {dateStyle: 'full', 
                                    timeStyle: 'long',
                                    timeZone: 'UTC',  }, dateformat).format(rawdate); %>
                                <h3 class='uk-card-title'><span class='uk-link-heading'><%= itemdate %></span></h3>
                                <%= row.enjoyment_level %>
                                <%= row.sadness_level %>
                                <%= row.anger_level %>
                                <%= row.contempt_level %>
                                <%= row.disgust_level %>
                                <%= row.fear_level %>
                                <%= row.surprise_level %>
                                <%= row.default_trigger_name %>
                                <%= row.notes %>
                                <% if (row.modified_ts !== null) { %>
                                <% var rawdate_mod = new Date(row.modified_ts); %>
                                <% var itemdate = new Intl.DateTimeFormat('en-GB', 
                                    {dateStyle: 'full', 
                                    timeStyle: 'long',
                                    timeZone: 'UTC',  }, dateformat).format(rawdate_mod); %>
                                <h3 class='uk-card-title'><span class='uk-link-heading'><%= itemdate %></span></h3>
                                <% } %>
                            </a>
                        </div>
                        <% } else { %>
                            <div>
                                <div class='uk-display-block uk-card uk-card-body uk-card-default'>
                                    <%  var rawdate = new Date(row.created_ts); %>
                                    <%  var itemdate = new Intl.DateTimeFormat('en-GB', 
                                    {dateStyle: 'full', 
                                    timeStyle: 'long',
                                    timeZone: 'UTC',  }, dateformat).format(rawdate); %>
                                    <h3 class='uk-card-title'><%= itemdate %></h3>
                                    <%= row.notes%>
                                </div>
                            </div>
                        <% } %>
                    <% }); %>
                </div>
            </div>
        </div>

    </body>
</html>
